#app #container {
    top: 0px;
    left: 400px;
    height: 100%;
    position: absolute;
    width: calc( 100% - 400px);
    background: rgb( 240, 240, 240);
}

#app #container #stitle {
    width: 40px;
    height: 100%;
    z-index: 100;
    display: flex;
    position: absolute;
    text-align: center;
    background: white;
    align-items: center;
    justify-items: center;
    -webkit-app-region: drag;
    box-shadow: 0px 0px 80px rgba(158, 60, 43, 0.3);
}

#app #container #stitle span {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

#app #container #space {
    top: 0px;
    left: 40px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: calc( 100% - 40px);
}

#app #container #space #blank {
    width: 100%;
    height: 50px;
}

#app #container #space #cont {
    width: 100%;
    position: relative;
    min-height: calc(100% - 50px);
    background: rgb( 248, 248, 248);
}

#app #container #space #cont button.list {
    z-index: 1;
    width: 100%;
    height: 40px;
    outline: none;
    display: block;
    color: tomato;
    padding: 0px 0px;
    overflow: hidden;
    font-weight: bold;
    border: solid 0px;
    position: relative;
    margin: 0 0 !important;
    box-sizing: border-box;
    transition: all linear 0.2s;
    background: rgb( 244, 244, 244);
}

#app #container #space #cont button.list:nth-child(2n) {
    background: white;
}

#app #container #space #cont button.list::after {
    top: 0px;
    left: 0px;
    width: 100%;
    content: "";
    z-index: -1;
    height: 100%;
    position: absolute;
    background: transparent;
    transition: background linear 0.2s;
}

#app #container #space #cont button.list:hover,
#app #container #space #cont button.list.active {
    z-index: 2;
    color: white !important;
    background: rgb( 160, 160, 160);
}

#app #container #space #cont button.list.active {
    z-index: 3;
}

#app #container #space #cont button.list:hover::after {
    background: rgba( 255, 255, 255, 0.5);
}

#app #container #space #cont button.list.active::after {
    top: 0px;
    left: 0px;
    width: 100%;
    content: "";
    z-index: -1;
    height: 100%;
    position: absolute;
    background: linear-gradient(
        90deg,
        transparent,
        rgba( 255, 255, 255, 0.3)
    );
}

#app #container #space #cont button.list span[data-attr="nombre"] {
    float: left;
    height: 30px;
    display: block;
    text-align: left;
    margin-left: 5px;
    overflow: hidden;
    margin-top: 0.9px;
    line-height: 29px;
    padding-left: 6px;
    padding-right: 6px;
    white-space: nowrap; 
    border-radius: 4px 4px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    width: calc(100% - 85px);
    transition: background linear 0.2s;
    background: rgba( 77, 77, 77, 0.05);
}

#app #container #space #cont button.list:nth-child(2n) span[data-attr="nombre"] {
    background: rgba( 222, 222, 222, 0.3);
}

#app #container #space #cont button.list:hover span[data-attr="nombre"],
#app #container #space #cont button.list.active span[data-attr="nombre"] {
    background: rgba( 255, 255, 255, 0.3);
}

#app #container #space #cont button.list:hover span[data-attr="nombre"] {
    text-shadow: 0px 0px 0px transparent !important;
}

#app #container #space #cont button.list.active span[data-attr="nombre"] {
    color: white !important;
}

#app #container #space #cont button.list span[data-attr="number"] {
    float: left;
    width: 30px;
    height: 30px;
    display: block;
    color: white;
    margin-left: 5px;
    margin-top: 0.9px;
    line-height: 29px;
    border-radius: 4px 4px;
}

#app #container #space #cont button.list button[data-function="more"] {
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 0.9px;
    border: solid 0px;
    position: relative;
    background: rgba( 1, 1, 1, 0.05);
}

#app #container #space #cont button.list button[data-function="more"]::after {
    top: 50%;
    left: 50%;
    width: 4px;
    content: "";
    height: 12px;
    position: absolute;
    border-radius: 4px;
    border-top: solid 4px;
    border-bottom: solid 4px;
    transform: translate(-50%, -50%);
}

#app #container #space #cont button.list button[data-function="more"]::before {
    top: 50%;
    left: 50%;
    width: 4px;
    content: "";
    height: 0px;
    position: absolute;
    border-radius: 4px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    transform: translate(-50%, -50%);
}

#app #container #space #cont button.list:hover button,
#app #container #space #cont button.list.active button {
    color: white !important;
}