#app #player {
    top: 0px;
    left: 0px;
    z-index: 300;
    width: 400px;
    height: 100%;
    display: flex;
    position: absolute;
    text-align: center;
    background: grey;
    align-items: center;
    justify-items: center;
    box-shadow: 0 0 0 !important;
}

#app #player:after {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    content: "";
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(255,255,255,0.55));
}

#app #player > div {
    z-index: 2;
    width: 100%;
    position: relative;
}

#app #player #pic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto auto;
    background: white;
    border-radius: 12px 12px;
    box-shadow: 4px 4px 16px rgba( 1, 1, 1, 0.3);
}

#app #player #pic img {
    width: 100%;
}

#app #player #name {
    width: 90%;
    height: 30px;
    color: white;
    font-size: 20px;
    overflow: hidden;
    margin: auto auto;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    text-shadow: 1px 1px 4px rgba( 1, 1, 1, 0.2);
}

#app #player #bar {
    width: 80%;
    height: 20px;
    margin: auto auto;
}

#app #player #bar div {
    float: left;
    height: 20px;
}

#app #player #bar #progress {
    margin-top: -1.5px;
    width: calc(100% - 100px);
}

#app #player #bar #progress #pbar {
    width: 90%;
    height: 10px;
    outline: none;
    overflow: hidden;
    margin: auto auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 12px 12px;
    -webkit-appearance: none;
    border: solid 2px white;
    background: rgba( 255, 255, 255, 0.4);
    box-shadow: 4px 4px 16px rgba( 1, 1, 1, 0.2);
}
  
#app #player #bar #progress #pbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 50%; 
    box-shadow: -100px 0 0 100px ;
    background: rgba( 255, 255, 255, 0.9);
}

#app #player #bar #currentTime,
#app #player #bar #totalTime {
    width: 50px;
    font-size: 14px;
    font-weight: bold;
    background: white;
    border-radius: 12px 12px;
    box-shadow: 2px 2px 12px rgba( 1, 1, 1, 0.2);
}

#app #player #controls {
    width: 100%;
    margin-top: 15px;
}

#app #player #controls button {
    width: 50px;
    height: 30px;
    outline: none;
    position: relative;
    box-shadow: 4px 4px 16px rgba( 1, 1, 1, 0.2);
}

#app #player #controls #play {
    width: 60px;
    height: 60px;
    border: solid 0px;
    background: white;
    border-radius: 50% 50%;
}

#app #player #controls #play::after {
    transition: all linear 0.2s;
}

#app #player #controls #play.play::after {
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    content: "";
    position: absolute;
    border: solid 14px;
    border-right-width: 0px;
    border-left-width: 23px;
    transform: translate(-40%, -50%);
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}

#app #player #controls #play.stop::after {
    top: 50%;
    left: 50%;
    width:20px;
    height: 30px;
    content: "";
    position: absolute;
    border-radius: 50% 50%;
    border: solid 7px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    transform: translate(-50%, -50%);
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
}

#app #player #controls #before[data-disable="1"],
#app #player #controls #after[data-disable="1"] {
    opacity: 0.3;
}

#app #player #controls #before,
#app #player #controls #after {
    margin-top: -10px;
    border: solid 0px;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(-52%);
    background: rgba( 255, 255, 255, 0.8);
}

#app #player #controls #before,
#app #player #controls #after {
    border-radius: 12px 0px 0px 12px;
}

#app #player #controls #before::before,
#app #player #controls #after::before {
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    content: "";
    position: absolute;
    border: solid 8px;
    border-left-width: 0px;
    border-right-width: 16px;
    border-top-color: transparent;
    transform: translate(-25%, -50%);
    border-bottom-color: transparent;
}

#app #player #controls #before::after,
#app #player #controls #after::after {
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    content: "";
    position: absolute;
    border: solid 8px;
    border-left-width: 0px;
    border-right-width: 16px;
    border-top-color: transparent;
    transform: translate(-75%, -50%);
    border-bottom-color: transparent;
}

#app #player #controls #after {
    transform: rotate(180deg) translateY(52%);
    box-shadow: -4px -4px 16px rgba( 1, 1, 1, 0.2);
}