<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/player.css">
    <link rel="stylesheet" href="../static/css/container.css">
    <title>Desktop App</title>
    <style id="style">
        ::-webkit-scrollbar {
            width: 5px;
            background: rgb( 220, 220, 220);
        }
        ::-webkit-scrollbar-thumb {
            background: grey;
            width: 2px !important;
        }
        #app #container #space #cont button.list:hover {
            color: grey;
            background: rgb( 160, 160, 160);
        }
        #app #container #space #cont button.list:hover span {
            text-shadow: 0px 0px 2px gray;
        }
    </style>
</head>
<body>
    <div id="app">
        <header>
            <div id="titleBar">
                <span class="color">PinealPlayer</span>
                <div class="btns">
                    <button class="background" id="minimize"></button>
                    <button class="background" id="maximize"></button>
                    <button class="background" id="close"></button>
                </div>
            </div>
        </header>
        <section id="player">
            <div>
                <div id="pic">
                    <img src="" alt="">
                </div>
                <div id="name">
                    Blanck Space - Taylor Swift
                </div>
                <div id="bar">
                    <div id="currentTime" class="color">
                        0:00
                    </div>

                    <div id="progress">
                        <input class="color" id="pbar" min="0" max="100" value="34"  type="range">
                    </div>

                    <div id="totalTime" class="color">
                        5:20
                    </div>
                </div>
                <div id="controls">
                    <button id="before" class="color"></button>
                    <button id="play" class="play color"></button>
                    <button id="after" class="color"></button>
                </div>
            </div>
        </section>
        <section id="container">
            <section id="stitle">
                <span class="color">
                    L<br>I<br>S<br>T<br>A<br> <br>D<br>E<br> <br>
                    M<br>U<br>S<br>I<br>C<br>A
                </span>
            </section>
            <section id="space">
                <div id="blank"></div>
                <section id="cont">
                    <audio id="audio" src=""></audio>
                </section>
            </section>
        </section>
    </div>
    <script src="../static/js/Vibrant.min.js"></script>
    <script src="../static/js/setMusicInfo.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>